* {
  font-family: "JetbrainsMono Nerd Font";
  font-weight: bold;
  font-size: 12px;
}

window#waybar {
  background: none;
  color: white;
}

#custom-launch_wofi,
#custom-power_btn,
#custom-lock_screen,
#clock,
#battery,
#pulseaudio,
#backlight,
#taskbar,
#workspaces,
#tray {
  background: black;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  opacity: 0.75;
  margin-top: 0.5em;
}

#workspaces {
  margin-left: 0.5em;
  padding: 0.2em;
}

#taskbar {
  padding: 0;
}

#taskbar button {
  padding: 0 0.5em;
  border: 0;
  transition: 0.2s ease;
}

#taskbar button:hover {
  background: rgba(255, 255, 255, 0.1);
  opacity: 1;
}

#taskbar button.active {
  background: rgba(255, 255, 255, 0.2);
}

#custom-launch_wofi {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-right: 1.35em;
}

#custom-power_btn {
  margin-right: 0.5em;
  padding-right: 1.15em;
  border-radius: 0 0.5em 0.5em 0;
}

#custom-lock_screen {
  border-radius: 0.5em 0 0 0.5em;
  margin-left: 0.5em;
}

#tray {
  margin-right: 0.5em;
  padding-right: 0.9em;
}

#battery {
  border-radius: 0.5em 0 0 0.5em;
}

#pulseaudio,
#backlight {
  border-radius: 0;
}

#pulseaudio.microphone {
  border-radius: 0 0.5em 0.5em 0;
}

#workspaces button {
    padding: 1px 0.25em;
    color: #313244;
}

#workspaces button:not(:last-child) {
    margin-right: 0.2em;
}

#workspaces button.active {
    color: #a6adc8;
    background: #11111b;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}
